### LSE Data Analytics Online Career Accelerator

# DA201: Data Analytics using Python

## Practical activity: Handle missing data

**This is the solution to the activity.**

Canopy is a new boutique streaming company that is looking to create an app to provide recommendations for each user based on their recently watched movies. You are working with the team to better understand the data. 

You have access to the data sets `movies.xlsx` and `ott.csv` from Canopy.

### 1. Import Pandas

In [4]:
# Import the necessary packages
import pandas as pd

In [5]:
import os

#used to verify the current directory and file path for the file to be imported.  

current_directory = os.getcwd()
print(current_directory)

/Users/b23/Documents/LSE Course /LSE_COURSE_2/LSE_DA201_Module_2_files/Week2

### 2. Import data sets

In [6]:
# Import the movies data set
movies = pd.read_excel('movies.xlsx')

# View the DataFrame
movies.head()

,Title,Year,Age,IMDb,Rotten Tomatoes,Directors,Genres,Country,Language,Runtime
0,Inception,2010,13+,8.8,0.87,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,The Matrix,1999,18+,8.7,0.87,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,Avengers: Infinity War,2018,13+,8.5,0.84,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,Back to the Future,1985,7+,8.5,0.96,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,"The Good, the Bad and the Ugly",1966,18+,8.8,0.97,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

In [7]:
# Import the ott data set
ott = pd.read_csv('ott.csv')

# View the DataFrame
ott.head()

   ID  Netflix  Hulu  Prime Video  Disney+
0   1        0     0            1        0
1   2        0     1            0        0
2   3        0     0            1        0
3   4        1     0            0        0
4   5        0     0            1        0

## 3. Calculate sum of missing data in Age column

In [8]:
# Determine the sum of missing values
movies['Age'].isnull().sum()

9390

## 4. Assign a specific value to missing data

In [9]:
# Replace the missing values in Age column with a set value
movies['Age'][movies['Age'].isna()] = 'Others'

/var/folders/cn/47qy272s11q7_n4t9zj37np40000gn/T/ipykernel_11697/1698102451.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['Age'][movies['Age'].isna()] = 'Others'

In [10]:
# Replace the missing values in the directors, genres, country and language with others
movies['Directors'][movies['Directors'].isna()] = "Others"

movies['Genres'][movies['Genres'].isna()] = "Others"

movies['Country'][movies['Country'].isna()] = "Others"

movies['Language'][movies['Language'].isna()] = "Others"

# View the DataFrame
movies

/var/folders/cn/47qy272s11q7_n4t9zj37np40000gn/T/ipykernel_11697/897861612.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['Directors'][movies['Directors'].isna()] = "Others"
/var/folders/cn/47qy272s11q7_n4t9zj37np40000gn/T/ipykernel_11697/897861612.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['Genres'][movies['Genres'].isna()] = "Others"
/var/folders/cn/47qy272s11q7_n4t9zj37np40000gn/T/ipykernel_11697/897861612.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['Country'][movies['Country'].isna()] = "Others"
/var/folders/cn/47qy272s11q7_n4t9zj37np40000gn/T/ipykernel_11697/897861612.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['Language'][movies['Language'].isna()] = "Others"

,Title,Year,Age,IMDb,Rotten Tomatoes,Directors,Genres,Country,Language,Runtime
0,Inception,2010,13+,8.8,0.87,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,The Matrix,1999,18+,8.7,0.87,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,Avengers: Infinity War,2018,13+,8.5,0.84,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,Back to the Future,1985,7+,8.5,0.96,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,"The Good, the Bad and the Ugly",1966,18+,8.8,0.97,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0
...,...,...,...,...,...,...,...,...,...,...
16739,The Ghosts of Buxley Hall,1980,Others,6.2,NaN,Bruce Bilson,"Comedy,Family,Fantasy,Horror",United States,English,120.0
16740,The Poof Point,2001,7+,4.7,NaN,Neal Israel,"Comedy,Family,Sci-Fi",United States,English,90.0
16741,Sharks of Lost Island,2013,Others,5.7,NaN,Neil Gelinas,Documentary,United States,English,NaN
16742,Man Among Cheetahs,2017,Others,6.6,NaN,Richard Slater-Jones,Documentary,United States,English,NaN
16743,In Beaver Valley,1950,Others,NaN,NaN,James Algar,"Documentary,Short,Family",United States,English,32.0

In [13]:
# Replace the missing values in Age column with set value.
movies['Age'][movies['Age'].isna()] = "Others"

print(movies)

                                Title  Year     Age  IMDb  Rotten Tomatoes  \
0                           Inception  2010     13+   8.8             0.87
1                          The Matrix  1999     18+   8.7             0.87
2              Avengers: Infinity War  2018     13+   8.5             0.84
3                  Back to the Future  1985      7+   8.5             0.96
4      The Good, the Bad and the Ugly  1966     18+   8.8             0.97
...                               ...   ...     ...   ...              ...
16739       The Ghosts of Buxley Hall  1980  Others   6.2              NaN
16740                  The Poof Point  2001      7+   4.7              NaN
16741           Sharks of Lost Island  2013  Others   5.7              NaN
16742              Man Among Cheetahs  2017  Others   6.6              NaN
16743                In Beaver Valley  1950  Others   NaN              NaN

                            Directors                            Genres  \
0                   Christopher Nolan  Action,Adventure,Sci-Fi,Thriller
1      Lana Wachowski,Lilly Wachowski                     Action,Sci-Fi
2             Anthony Russo,Joe Russo           Action,Adventure,Sci-Fi
3                     Robert Zemeckis           Adventure,Comedy,Sci-Fi
4                        Sergio Leone                           Western
...                               ...                               ...
16739                    Bruce Bilson      Comedy,Family,Fantasy,Horror
16740                     Neal Israel              Comedy,Family,Sci-Fi
16741                    Neil Gelinas                       Documentary
16742            Richard Slater-Jones                       Documentary
16743                     James Algar          Documentary,Short,Family

                            Country                 Language  Runtime
0      United States,United Kingdom  English,Japanese,French    148.0
1                     United States                  English    136.0
2                     United States                  English    149.0
3                     United States                  English    116.0
4          Italy,Spain,West Germany                  Italian    161.0
...                             ...                      ...      ...
16739                 United States                  English    120.0
16740                 United States                  English     90.0
16741                 United States                  English      NaN
16742                 United States                  English      NaN
16743                 United States                  English     32.0

[16744 rows x 10 columns]

/var/folders/cn/47qy272s11q7_n4t9zj37np40000gn/T/ipykernel_11697/3892685962.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['Age'][movies['Age'].isna()] = "Others"

## Advanced problem

In [14]:
# Missing values for IMDb and Rotten Tomatoes
print(movies['IMDb'].isnull().sum())

print(movies['Rotten Tomatoes'].isnull().sum())

571
11586

In [17]:
# Replace missing values with mean
movies['IMDb'].fillna(movies['IMDb'].mean(),inplace=True)

movies['Rotten Tomatoes'].fillna(movies['Rotten Tomatoes'].mean(),inplace=True)

movies

,Title,Year,Age,IMDb,Rotten Tomatoes,Directors,Genres,Country,Language,Runtime
0,Inception,2010,13+,8.800000,0.870000,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,The Matrix,1999,18+,8.700000,0.870000,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,Avengers: Infinity War,2018,13+,8.500000,0.840000,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,Back to the Future,1985,7+,8.500000,0.960000,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,"The Good, the Bad and the Ugly",1966,18+,8.800000,0.970000,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0
...,...,...,...,...,...,...,...,...,...,...
16739,The Ghosts of Buxley Hall,1980,Others,6.200000,0.654285,Bruce Bilson,"Comedy,Family,Fantasy,Horror",United States,English,120.0
16740,The Poof Point,2001,7+,4.700000,0.654285,Neal Israel,"Comedy,Family,Sci-Fi",United States,English,90.0
16741,Sharks of Lost Island,2013,Others,5.700000,0.654285,Neil Gelinas,Documentary,United States,English,NaN
16742,Man Among Cheetahs,2017,Others,6.600000,0.654285,Richard Slater-Jones,Documentary,United States,English,NaN
16743,In Beaver Valley,1950,Others,5.902751,0.654285,James Algar,"Documentary,Short,Family",United States,English,32.0

In [18]:
# View the missing values for IMDb and Rotten Tomatoes
print(movies['IMDb'].isnull().sum())

print(movies['Rotten Tomatoes'].isnull().sum())

0
0

In [20]:
# There are two options to convert object to integer.
# 1) Pandas Series
# Determine the data type first.
print(movies.dtypes)

# Change Rotten Tomatoes from object to integer.
movies['Rotten Tomatoes'] = movies['Rotten Tomatoes'].astype(object).astype(int)

print(movies.dtypes)

Title               object
Year                 int64
Age                 object
IMDb               float64
Rotten Tomatoes    float64
Directors           object
Genres              object
Country             object
Language            object
Runtime            float64
dtype: object
Title               object
Year                 int64
Age                 object
IMDb               float64
Rotten Tomatoes      int64
Directors           object
Genres              object
Country             object
Language            object
Runtime            float64
dtype: object